Source: ros-noetic-serl-franka-controllers
Section: misc
Priority: optional
Maintainer: Charles Xu <xuc@berkeley.edu>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-noetic-catkin, ros-noetic-controller-interface, ros-noetic-dynamic-reconfigure, ros-noetic-eigen-conversions, ros-noetic-franka-gripper, ros-noetic-franka-hw, ros-noetic-geometry-msgs, ros-noetic-hardware-interface, ros-noetic-libfranka, ros-noetic-message-generation, ros-noetic-pluginlib, ros-noetic-realtime-tools, ros-noetic-roscpp, ros-noetic-tf, ros-noetic-tf-conversions
Homepage: https://serl-robot.github.io/
Standards-Version: 3.9.2

Package: ros-noetic-serl-franka-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-controller-interface, ros-noetic-dynamic-reconfigure, ros-noetic-eigen-conversions, ros-noetic-franka-control, ros-noetic-franka-description, ros-noetic-franka-gripper, ros-noetic-franka-hw, ros-noetic-geometry-msgs, ros-noetic-hardware-interface, ros-noetic-libfranka, ros-noetic-message-runtime, ros-noetic-panda-moveit-config, ros-noetic-pluginlib, ros-noetic-realtime-tools, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-tf, ros-noetic-tf-conversions
Description: serl_franka_controllers provides a compliant yet accurate Cartesian impedance controller for controlling Franka Emika research robots that can be used in online reinforcement learning applications
